<% layout('/layouts/boilerplate.ejs') -%>
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 mb-5 bg-body rounded" style="width: 50%">
    <div class="card-body">
      <h1 class="card-title text-center">Add New Item</h1>
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            id="title"
            placeholder="Enter Title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id="description"
            cols="30"
            rows="3"
            placeholder="Enter Description"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Description Looks good!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            type="file"
            name="listing[image]"
            id="image"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              id="price"
              placeholder="Enter price"
              class="form-control"
              required
            />
            <div class="valid-feedback">Price Looks good!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              id="country"
              placeholder="Enter country"
              class="form-control"
              required
            />
            <div class="valid-feedback">Country Looks good!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            id="location"
            placeholder="Enter Location"
            class="form-control"
            required
          />
          <div class="valid-feedback">Location Looks good!</div>
        </div>

        <button class="btn btn-dark w-100 add-btn mt-3">Add Item</button>
      </form>
    </div>
  </div>
</div>
