<% layout('/layouts/boilerplate.ejs') -%>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center fade-in">Welcome to Our Wanderlust</h1>
      <p class="text-center slide-in">It connects travelers to hosts</p>
      <div class="text-center">
        <a href="/about" class="btn btn-primary btn-lg bounce-in">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="mt-5"></div>

<!-- Scrolling Image Marquee -->
<div class="scrolling-image">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxTVW7qIPLFJ_alveDA1xU-P0mGXH0CF98Fw&s"
    alt="Scrolling Image"
    class="scrolling-img"
  />
  <img
    src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202406/66691948cf6a2-travelling-12430430-16x9.jpg?size=948:533"
    alt="Scrolling Image"
    class="scrolling-img"
  />

  <img
    src="https://ieltscaptoc.com.vn/wp-content/uploads/2023/02/talk-about-travelling-4.jpg"
    alt="Scrolling Image"
    class="scrolling-img"
  />
  <img
    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/b5/2f/f9/hotel-travel-inn.jpg?w=700&h=-1&s=1"
    alt="Scrolling Image"
    class="scrolling-img"
  />
  <img
    src="https://www.shutterstock.com/image-photo/young-group-tourists-suitcases-arriving-600w-2282276407.jpg"
    alt="Scrolling Image"
    class="scrolling-img"
  />
  <img
    src="https://travel.usnews.com/static-atlas/assets/img/travel/rewards/hotels-сс.jpg"
    alt="Scrolling Image"
    class="scrolling-img"
  />
  <img
    src="https://ychef.files.bbci.co.uk/1280x720/p0jkrxvx.jpg"
    alt="Scrolling Image"
    class="scrolling-img"
  />
  <img
    src="https://liveworkplaytravel.com/wp-content/uploads/2023/03/HostelEtiquette.jpg"
    alt="Scrolling Image"
    class="scrolling-img"
  />
  <img
    src="https://www.mistay.in/travel-blog/content/images/2023/03/nomads-brisbane-hostel-dorm.jpg"
    alt="Scrolling Image"
    class="scrolling-img"
  />
</div>
